{% extends 'home/index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/faq.css' %}">

<div class="container">
    <div class="">
        <h1>Acuerdo de Licencia de Usuario Final</h1>
        <p>Última actualización: 13 de Nov de 2024</p>

        <p>Este Acuerdo de Licencia de Usuario Final (EULA) es un contrato legal entre tú (el “Usuario”) y MachineTrek. Al acceder o utilizar nuestra plataforma, aceptas cumplir con los términos de este acuerdo.</p>

        <h2>1. Licencia de uso</h2>
        <p>MachineTrek te otorga una licencia limitada, no exclusiva e intransferible para acceder y utilizar nuestra plataforma únicamente para el arrendamiento de vehículos y maquinarias de acuerdo con estos términos.</p>

        <h2>2. Restricciones de uso</h2>
        <p>Al usar la plataforma, aceptas no:</p>
        <ul>
            <li>Modificar, descompilar, o realizar ingeniería inversa en la plataforma.</li>
            <li>Utilizar la plataforma para actividades ilegales o para dañar a terceros.</li>
            <li>Transferir o sublicenciar el acceso a la plataforma sin autorización.</li>
        </ul>

        <h2>3. Propiedad intelectual</h2>
        <p>MachineTrek y sus proveedores son los propietarios de todos los derechos de propiedad intelectual relacionados con la plataforma. No adquieres ningún derecho o licencia a excepción de los expresamente otorgados en este EULA.</p>

        <h2>4. Limitación de responsabilidad</h2>
        <p>MachineTrek no se hace responsable de daños directos, indirectos, incidentales o consecuentes derivados del uso de la plataforma, incluyendo la pérdida de ingresos o daños a terceros, salvo en los casos en que la ley lo establezca.</p>

        <h2>5. Terminación</h2>
        <p>MachineTrek se reserva el derecho de cancelar o suspender tu acceso a la plataforma en cualquier momento y sin previo aviso, en caso de incumplimiento de los términos del EULA o por cualquier otro motivo válido.</p>

        <h2>6. Modificaciones del EULA</h2>
        <p>MachineTrek puede modificar este EULA en cualquier momento. Se te notificará de cambios importantes, y el uso continuo de la plataforma implicará tu aceptación de los nuevos términos.</p>

        <h2>7. Ley aplicable y jurisdicción</h2>
        <p>Este acuerdo se regirá e interpretará de acuerdo con las leyes de [tu país o región], y cualquier disputa estará sujeta a la jurisdicción exclusiva de los tribunales de [tu país o región].</p>

        <h2>8. Contacto</h2>
        <p>Para cualquier pregunta sobre este EULA, puedes contactarnos en [email@example.com].</p>
    </div>
</div>

<script src="{% static 'home/js/faq.js' %}"></script>

{% endblock %}