{% extends 'home/index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/faq.css' %}">

<div class="container">
    <div class="privacy-policy">
        <h2>Políticas de Privacidad para MachineTrek</h2>
        <p>Última actualización: [Fecha]</p>

        <p>MachineTrek se compromete a proteger la privacidad de sus usuarios. La presente política de privacidad describe cómo recopilamos, utilizamos y protegemos la información que nos proporcionas al usar nuestra plataforma.</p>

        <h3>1. Información que recopilamos</h3>
        <p>Recopilamos distintos tipos de información para ofrecerte un servicio mejorado:</p>
        <ul>
            <li><strong>Información personal:</strong> como nombre, dirección, correo electrónico y número de teléfono cuando te registras en nuestra plataforma.</li>
            <li><strong>Información de pago:</strong> como los datos de la tarjeta de crédito o cuenta bancaria para procesar las transacciones.</li>
            <li><strong>Información de uso:</strong> datos sobre tu interacción con la plataforma, incluidas preferencias, productos alquilados y actividad en la página.</li>
            <li><strong>Información de dispositivos:</strong> como la dirección IP, tipo de dispositivo y navegador que utilizas para acceder a nuestra plataforma.</li>
        </ul>

        <h3>2. Uso de la información</h3>
        <p>Utilizamos la información recopilada para:</p>
        <ul>
            <li>Facilitar las transacciones de arrendamiento de vehículos y maquinarias.</li>
            <li>Ofrecer soporte al cliente y resolver problemas.</li>
            <li>Personalizar tu experiencia en la plataforma.</li>
            <li>Enviar notificaciones y comunicados relacionados con el servicio.</li>
            <li>Cumplir con obligaciones legales y regulatorias.</li>
        </ul>

        <h3>3. Compartir información con terceros</h3>
        <p>No compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
        <ul>
            <li>Con proveedores de servicios para procesar pagos, envíos y comunicaciones.</li>
            <li>Con autoridades gubernamentales, cuando sea requerido por ley.</li>
            <li>Con socios comerciales para mejorar la calidad de nuestro servicio.</li>
        </ul>

        <h3>4. Seguridad de la información</h3>
        <p>MachineTrek toma medidas de seguridad para proteger tu información personal contra accesos no autorizados, pérdida o destrucción. Sin embargo, recuerda que ningún sistema de transmisión en Internet es 100% seguro.</p>

        <h3>5. Tus derechos</h3>
        <p>Tienes el derecho a acceder, corregir o eliminar tu información personal. Puedes ponerte en contacto con nosotros a través de [email@example.com] para ejercer estos derechos.</p>

        <h3>6. Cambios a esta política</h3>
        <p>MachineTrek se reserva el derecho de modificar esta política en cualquier momento. Te notificaremos cualquier cambio importante y te recomendamos revisar periódicamente nuestra política de privacidad.</p>

        <h3>7. Contacto</h3>
        <p>Si tienes preguntas sobre nuestra política de privacidad, contáctanos en [email@example.com].</p>
    </div>
    </div>
</div>

<script src="{% static 'home/js/faq.js' %}"></script>

{% endblock %}