{% extends 'home/index.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if mensaje %}
    <!-- Modal -->
    <div class="modal fade show d-block" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Mensaje de advertencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ mensaje }}</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'registro' %}" class="btn btn-warning">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Formulario de registro -->
    <div class="formularioRegistro my-5">

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Por favor, corrige los siguientes errores:</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username">Nombre de usuario:</label>
                {{ form.username }}
                <div class="text-danger">
                    {{ form.username.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_first_name">Nombre:</label>
                {{ form.first_name }}
                <div class="text-danger">
                    {{ form.first_name.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_last_name">Apellido:</label>
                {{ form.last_name }}
                <div class="text-danger">
                    {{ form.last_name.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_email">Email:</label>
                {{ form.email }}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_rut">RUT:</label>
                {{ form.rut }}
                <div class="text-danger">
                    {{ form.rut.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
                <div class="text-danger">
                    {{ form.password1.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label for="id_password2">Repita Contraseña:</label>
                {{ form.password2 }}
                <div class="text-danger">
                    {{ form.password2.errors }}
                </div>
            </div>

            <div class="container text-center mt-4">
                <button type="submit" class="btn btn-warning btn-lg w-100">Registrar</button>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        if ({{ mensaje|yesno:"true,false" }}) {
            var modal = new bootstrap.Modal(document.getElementById("myModal"));
            modal.show();
        }
    };
</script>

{% endblock %}
